
body{
    font-family: Arial, Helvetica, sans-serif;
}
#nav-custom{
    background:#76CDD8;
    color:white;
}
.logo{
    height: 100%;
    width:2em;
}
.logo img{
    height: 100%;
    width:100%;
}

.main-section{
    width:40%;
    height:500px;
    margin:2em auto;
}

.input{
    height:2.5em;
    width:60%;
    margin: 0 auto;
    margin-bottom: 2%;
}
a:hover{
    text-decoration: none;
}
.input-icon{
    height: 100%;
}
.input-icon img{
    height: 100%;
}
#signin-btn{
    margin-top:1.5em;
}
#signin-btn button{
    background-color:#76CDD8;
    color:white;
}
.separator{
    color:#ccc;
}
.line{
    background-color: #ccc;
    height:0.12em;
    width:40%;
}

.fb-btn button{
    background-color: #3B5998;
    color:white;
}
.google-btn button{
    background-color: #DC4C3F;
    color:white;
}
.epam-btn{
    margin : 1.5em auto;
}
.epam-btn button{
    background-color: #CFD252;
    color: white;
}
button:hover{
    color:white
}
@media (max-width: 768px) {
    .main-section {
        width: 65%;
        height: auto;
    }
    .input {
        width: 70%;
    }
    .jumbotron {
        background-color: white;
    }
}
@media (max-width: 576px) {
    .main-section {
        width: 95%;
        height: auto;
    }
    .input{
        width: 95%;
    }
    .jumbotron {
        background-color: white;
    }
}